:root {
    /* theme color */
    --dark: #262a3b;
    --light: #99b2dd;
    --lighter: #e2f5fe;
    /* font size */
    --big: 40px;
    --medium: 30px;
    --small: 20px;
    --smaller: 17px;
    /* margin */
    --frame-bottom-margin: 30px;
}

body {
    color: var(--dark);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: red; */
    background-color: var(--lighter);
}

h1 {
    font-size: var(--big);
}

h2 {
    font-size: var(--medium);
}

h3 {
    font-size: var(--small);
}

header {
    /* flexbox settings */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* color settings */
    background-color: var(--dark);
    /* size settings */
    margin: 0px;
    padding: 20px 0px;
}

#my-name {
    /* color settings */
    color: var(--dark);
    background-color: var(--light);
    /* box settings */
    width: 300px;
    margin: 0px;
    padding: 10px;
    /* text settings */
    text-align: right;
}

#menu {
    /* flexbox settings */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* box settings */
    width: 60%;
    margin:0;
    padding: 25px;
}

#menu a {
    /* box setting */
    padding: 5px;
    /* text settings */
    font-size: var(--medium);
    /* color settings */    
    color: var(--light);
    background-color: var(--dark);
}

/* color change when hover over menu items */
#menu a:hover {
    color: var(--lighter);
}

/* style the hero image */
#hero-image {
    /* box settings */
    height: 300px;
    width: 100%;
    margin-bottom: var(--frame-bottom-margin);
    /* backgroud settings */
    background-image: url("../images/banner-1010.jpg");
    background-size: cover;
    background-position: center;
    /* set position to relative to contain an absolute subtitle  */
    position: relative;
}

#sub-title {
    /* set position to the bottom right of the hero image */
    position: absolute;
    bottom: 40px;
    right: 0px;
    /* color settings */
    color: var(--dark);
    background-color: var(--light);
    /* box settings */
    width: 400px;
    margin: 0px;
    padding: 10px;
    /* text settings */
    text-align: left;

}

#container {
    /* flexbox setting */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card {
    /* box settings */
    width: 100%;
    margin: 0;    
    margin-bottom: var(--frame-bottom-margin);

    /* flexbox settings */
    display: flex;
    flex-direction: row;
}

/* styling for the title of "About Me", "Work" and "Contact Me" */
.card-title {
    /* box settings */
    width: 25%; /* make it up 100% with .card-details */
    margin: 0;
    padding: 20px;
    border-right: 5px solid var(--dark);
    /* text settings */
    text-align: right;
}

.card-details {
    /* box settings */
    width: 75%; /* make it up 100% with .card-title */
    margin: 0;
    padding: 0px 20px;

    /* flexbox settings */
    display: flex;
    flex-direction: row;
}

/* NO wrap for "About Me" and "Contact Me"*/
#card-details-about-me, #card-details-contact-me {
    flex-wrap: nowrap;
}
/* wrap for "Work" */
#card-details-work {
    flex-wrap: wrap;
}


#my-photo-frame {
    /* box settings */
    width: 200px; /* fixed width for profile picture and auto width for description */
    margin: 0;
    height: 200px;
}

#my-photo {
    /* photo size */
    width: 200px;
    height: 200px;
    /* set the backgroud image to profile picture */
    background-image: url(../images/my_profile_picture.jpg);
    background-size: cover;
    background-position: center;
}

#description {
    /* box settings */
    width: auto; /* fixed width for profile picture and auto width for description */
    margin: 0;
    padding: 0 10px;
    /* text settings */
    text-align: left;
    font-size: var(--smaller);
    line-height: 1.2;
}

.project-frame {
    /* box settings */
    width: 50%;
    height: 200px;
    margin: 0;
    padding: 10px 10px 0 0;
    /* set position to relative to contain an absolute project-details */
    position: relative;
}

/* bigger first project */
#project-frame-1 {
    /* bigger box*/
    width: 100%;
    height: 300px;
    padding-top: 0;
}

.project-photo {
    /* box settings */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 5px solid var(--light);
    /* backgroud image settings */
    background-size: cover;
    background-position: center;
    /* set transition time to 0.5s when opacity change */
    transition: opacity 0.5s;
}

/* change opacity when hover over project photo */
.project-photo:hover {
    opacity: 0.5;
}

.project-details {
    /* set position to the bottom left project-photo */
     position: absolute;
     left: 0;
     bottom: 20px ;
    /* color setting */
    color: var(--dark);
    background-color: var(--light);
    /* box settings */
    margin: 0;
    padding: 10px;
}

/* set backgroup image for each project */
#project-photo-1{
    background-image: url("../images/EvChargeNGo_thumbnail.jpg");
}
#project-photo-2 {
    background-image: url("../images/LetsGoDIY_thumbnail.jpg");
    background-position: left top;
}
#project-photo-3 {
    background-image: url("../images/Horiseon_thumbnail.jpg");
}
#project-photo-4 {
    background-image: url("../images/password_generator_thumbnail.jpg");
}
#project-photo-5 {
    background-image: url("../images/coming_soon_thumbnail.jpg");
}


#contact-list {
    /* box settings */
    width: 100%;
    margin:0;
    
    /* flexbox settings */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#contact-list a {
    /* box settings */
    padding: 20px 5px;
    /* text settings */
    font-size: var(--small);
    /* color settings */    
    color: var(--dark);
    background-color: var(--lighter);
}

/* style for screen size of 992px or smaller (tablet) */
@media screen and (max-width: 992px) {
    /* put the Name on top of the Menu */
    header {
        flex-direction: column;
        align-items: center;
    }
    #my-name {
        text-align: center;
    }
    #menu {
        width: 100%;
    }

}

/* style for screen size of 768px or smaller (mobile phone) */
@media screen and (max-width: 768px) {
    /* vertical menu */
    #menu {
        flex-direction: column;
        align-items: center;
    }
    /* put card title on top of card details*/
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card-title {
        /* remove of the line on the right */
        border-right: 0;
        /* box setting */
        width: 100%;
        /* text setting */
        text-align: center;
    }
    .card-details {
        width: 100%;
    }
    /* settings for placing the profile picture in the center */
    #my-photo-frame {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .project-frame {
        width: 100%;
        height: 300px;;
    }
    #card-details-about-me {
        flex-direction: column;
    }
    #contact-list  {
        flex-direction: column;
    }
}

  